<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.logixisland.anuto" >

    <supports-screens
        android:smallScreens="false"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="false" />

    <application
        android:name="ch.logixisland.anuto.AnutoApp"
        android:label="@string/app_name"
        android:icon="@mipmap/icon"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="true"
        android:allowBackup="false" >

        <activity
            android:name="ch.logixisland.anuto.MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
